// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Spartan';
  font-style: NORMAL;
  font-weight: 700;
  src: url(../../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf) format('TTF');
 }